nav > a{
    color: crimson;
    text-decoration: none;
}

.about blockquote{
    background-color: #eaeaea;
}

.users span {
    font-weight: bold;
}

.users span:nth-child(2){
    color: crimson;
}


.creators a{
    text-decoration: none;    
}

.creators .link {
    font-family: Lato;
}
.creators .link.font {
    font-family: PT serif;
    font-weight: bold;
}


/* .creators a:nth-child(odd){
    font-family: Lato;
} */

/* .creators a:nth-child(3){
    font-family: Lato;
} */

/* .creators a:nth-child(even){
    font-family: PT Serif;
    font-weight: bold;
} */


/* .creators a:nth-child(4){
    font-family: PT Serif;
    font-weight: bold;
} */

.cta h2{
    color: crimson;
    font-family: Lato;
}

ul li:nth-child(odd){
    text-decoration: underline;
}



/* Extra challenge, animation of nav links */

nav a{
    display: inline-block;
    position: relative;
}

nav a:after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: crimson;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

nav a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


